<h1>contact-form works!</h1>
<!-- 
<form>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input ngModel name="firstname" #firstname="ngModel" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="comment">
            Comment
        </label>
        <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form> -->


<form>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input required minlength="3" maxlength="10" pattern="Name" ngModel name="firstname" #firstname="ngModel" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
            <div *ngIf="firstname.errors.required">First Name is required.</div>
            <div *ngIf="firstname.errors.minlength">First Name should be minimum {{firstname.errors.minlength.requiredLength }} charactors.</div>
            <div *ngIf="firstname.errors.pattern">First Name doesnt match the pattern.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">
            Comment
        </label>
        <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>