<h1>{{ getTitle() }}</h1>
        <ul>
          <li *ngFor="let course of courses"> 
            {{ course }}
          </li>
        </ul>

<!-- Interpolation -->
<p>{{title}}</p>
<!-- <div><img src="{{itemImageUrl}}"></div> -->

<button class="btn btn-primary" [class.active]="isActive">Save</button>

<!-- event binding -->
<button (click) = "onSave()">Save</button>

<!-- inline property -->
<button [style.backgroundColor] = "isActive ? 'blue' : 'white' ">Save</button> 

<!-- event filtering -->
<input (keyup.enter) = "onKeyUp()" />

<!-- template Variable -->
<input #email (keyup.enter) = "onKeyUp1(email.value)" />

<!-- two-way binding -->
<input [(ngModel)]="Gemail" (keyup.enter)="onKeyUp2()" />

<div *ngIf="course.length > 0; then CourseList else noCourse">
</div>
<ng-template #CourseList>
  List of course 
</ng-template>
<ng-template #noCourse>
  No Courses yet!
</ng-template>